* {
    margin: none;
    padding: none;
}

.cl-blue {
    color: blue;
}

.cl-black {
    color: black;
}

.cl-aquamarine {
    color: aquamarine;
}

.cl-red {
    color: red;
}

.cl-yellow {
    color: yellow;
}

.cl-green {
    color: green;
}

.cl-purple {
    color: purple;
}

.cl-pink {
    color: pink;
}

.cl-white {
    color: white;
}

.cl-aliceblue {
    color: aliceblue;
}

.cl-antiquewhite {
    color: antiquewhite;
}

.cl-aqua {
    color: aqua;
}

.cl-azure {
    color: azure;
}

.cl-beige {
    color: beige;
}

.cl-bisque {
    color: bisque;
}

.cl-blanchedalmond {
    color: blanchedalmond;
}

.cl-blueviolet {
    color: blueviolet;
}

.cl-brown {
    color: brown;
}

.cl-burlywood {
    color: burlywood;
}

.cl-cadetblue {
    color: cadetblue;
}

.cl-chartreuse {
    color: chartreuse;
}

.cl-chocolate {
    color: chocolate; 
}

.cl-coral {
    color: coral;
}

.cl-cornflowerblue {
    color: cornflowerblue;
}

.cl-cornsilk {
    color: cornsilk; 
}

.cl-crimson {
    color: crimson; 
}

.cl-cyan {
    color: cyan; 
}

.cl-darkblue {
    color: darkblue;
}

.cl-darkcyan {
    color: darkcyan;
}

.cl-darkgoldenrod {
    color: darkgoldenrod; 
}

.cl-darkgray {
    color: darkgray; 
}

.cl-darkgreen {
    color: darkgreen; 
}

.cl-darkgrey {
    color: darkgrey;
}

.cl-darkkhaki {
    color: darkkhaki;
}

.cl-darkmagenta {
    color: darkmagenta;
}

.cl-darkolivegreen {
    color: darkolivegreen;
}

.cl-darkorange {
    color: darkorange; 
}

.cl-darkorchid {
    color: darkorchid;
}

.cl-darkred {
    color: darkred;
}

.cl-darksalmon {
    color: darksalmon; 
}

.cl-darkseagreen {
    color: darkseagreen; 
}

.cl-darkslateblue {
    color: darkslateblue;
}

.cl-darkslategrey {
    color: darkslategrey;
}

.cl-darkslategray {
    color: darkslategray; 
}

.cl-darkturquoise {
    color: darkturquoise; 
}

.cl-darkviolet {
    color: darkviolet; 
}

.cl-deeppink {
    color: deeppink; 
}

.cl-deepskyblue {
    color: deepskyblue; 
}

.cl-dimgray {
    color: dimgray;
}

.cl-dimgrey {
    color: dimgrey; 
}

.cl-dodgerblue {
    color: dodgerblue; 
}

.cl-firebrick {
    color: firebrick; 
}

.cl-floralwhite {
    color: floralwhite; 
}

.cl-forestgreen {
    color: forestgreen; 
}

.cl-fuchsia {
    color: fuchsia; 
}

.cl-gainsboro {
    color: gainsboro; 
}

.cl-ghostwhite {
    color: ghostwhite; 
}

.cl-gold {
    color: gold; 
}

.cl-goldenrod {
    color: goldenrod;
}

.cl-gray {
    color: gray; 
}

.cl-greenyellow {
    color: greenyellow;
}

.cl-grey {
    color: grey; 
}

.cl-honeydew {
    color: honeydew; 
}

.cl-hotpink {
    color: hotpink; 
}

.cl-indianred {
    color: indianred;
}

.cl-indigo {
    color: indigo;
}

.cl-ivory {
    color: ivory; 
}

.cl-khaki {
    color: khaki; 
}

.cl-lavender {
    color: lavender;
}

.cl-lavenderblush {
    color: lavenderblush;
}